main {
  font-family: Consolas, 'Courier New', Courier, monospace, monospace;
  display: flex;
}

nav {
  flex-direction: column;
  width: 10%;
  position: fixed;


}
nav > a {
  display: block;

}
header {
  font-size: 2em;
  margin: 3% 1%
}

h2 {
  margin: 1% 2%;
}

p {
  margin: 2% 0 0 4%;
}

code {
  font-size: 1.5rem;
  width: 100%;
  background-color: black;
  color: green;
  font-size: 16px;
  display: block;
  margin: 10px 0;
}

span#blu {
  color: #3492ff;
  font-weight: bold;
}

section {
  margin: 0 0 0 12%;
}
section > code  {
  font-size: 20px;
}
